<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/bootstrap-grid.css">
        <link rel="stylesheet" href="css/task1.css">
        <link rel="stylesheet" type="text/css" href="file:///C:/Users/FreeComp/Downloads/Compressed/fontawesome-free-5.10.0-web_3/fontawesome-free-5.10.0-web/css/all.css">
        <title> Life Savers</title>
    </head>
    <body>
        <header>
            <div class="overlay"></div>
            <div class="container">
                <div class="row align-items-center justify-content-md-between top-bar">
                    <div class="col-12 col-md-2 logo">
                    <i class="fas fa-quote-right txt-orange"></i>LiFe SaVeRs
                    </div>
                    <div class="col-12 col-md-8">
                        <nav>
                             <ul class="d-flex justify-content-center justify-content-md-end">
                                <li><a href="index.html">Home</a></li>
                          
                          
                                
                                 <li class="menu">
                                    <a href="tassk1.html">Donation Hostspots</a>
                                <ul class="submenu">
                                        
                                 <li><a href="MY%20ReQ.html">My Requests</a></li>
                        
                                    </ul>
                                
                                </li>
                                 
                                 <li class="menu">
                                    <a href="settings.html">Settings</a>
                                <ul class="submenu">

                                 <li><a href="pass.html">Email and Password</a></li>
                        
                                    </ul>
                                
                                </li>
                                 
                                 
                                       <li><a href="#">About Us</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="service">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    
                    <div class="box">
                        <div class="box1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.0151003826772!2d31.43893928540804!3d29.978996028617534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583b57b63fd84f%3A0x3f8cc2e264515b66!2z2YXYs9iq2LTZgdmJINin2YTZgtin2YfYsdipINin2YTYrNiv2YrYr9ip!5e0!3m2!1sar!2seg!4v1623016001364!5m2!1sar!2seg" width="100%" height="50%" style="border:0; border-top-left-radius: 15%; border-top-right-radius: 15%;" allowfullscreen="" loading="lazy"><br></iframe> 
                            
                           <b><span class="txt-orange" style="margin-left: 12%; font-size: 15px;">Nowraa Donation Center</span><br></b><br>
                           
                            <div class ="box2 " style="width: 50%;float: left;height: auto ;font-size: 11px; padding-left: 5px; font-family:cursive" >Organization Name<br>Organization Number: <br> Available types <br>Need type</div>
                            <div class="box3" style="width: 50%; float: right;height: auto">
                                <span>AbdElhalim ORG</span><br>
                                <span>01068934773</span><br>
                                <span>A+ , B+</span><br>
                                 <span>A , AB</span><br>
                                
                            </div>
                            <div class="request-donation-preview">
                                <button>Request Donation</button>
                                <div class="popup">
                                    <div class="overlay"></div>
                                    <div class="popup-content">
                                         <div class ="boxx">
                                             <div class="boxx1">
                                                   
                  <input type="text" id ="blood" placeholder="blood type"/>
				        <input type="text" id="num" placeholder="The number of blood bags required"/>
                         <textarea id="reason" name="reason" rows="4" cols="27"placeholder="The reason for the request" style="padding: 5%;margin-left: 5%;"></textarea>
                                                           
                                              
                        <div class="no" >
                            
                            <input type="radio" id="agree" name="agree" value="agree">
                            
                     I agree to shere my personalprofile data  with this Organization 
                            
                                                 </div>
                                      
                                                 <div class="noo">  <button class="txt-white">Request donation</button></div>
                                             </div>
                                           
                                        </div>
                                    </div>
                                    <div class="close">
                                        X
                                    </div>
                                </div>
                            </div>
                            <div class="donate-preview">
                                <button>Donate</button>
                                <div class="popup">
                                    <div class="overlay"></div>
                                    <div class="popup-content">
                                                 <div class ="boxx">
                                             <div class="boxx1" style="padding: 10%;font-family: cursive;">
 
                                                 <h1>Please go to the donation point directly..</h1>
                                                 <h1> Thank you for your contribution &#128519; &#128519;</h1>
                   
                                             </div>
                                           
                                        </div>
                                    </div>
                                    <div class="close">
                                        X
                                    </div>
                                </div>
                        
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="jQuery/jquery-3.4.1.min.js"></script>
        <script src="jQuery/noga.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>